<div class="container">
  <form autocomplete="off" #formulario="ngForm" (ngSubmit)="salvar(formulario)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo ngModel name="tipo" [(ngModel)]="lancamento.tipo" #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="true" ngModel #vencimento="ngModel"
          [(ngModel)]="lancamento.dataVencimento" name="vencimento" required></p-calendar>
        <app-message [control]="vencimento" error="required" text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="true" ngModel #pagamento [(ngModel)]="lancamento.datapagamento"
          name="pagamento">
        </p-calendar>
        <app-message [control]="vencimento" error="required" text="Informe uma data de Pagamento"></app-message>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" [(ngModel)]="lancamento.descricao" required minlength="5">

        <div *ngIf="descricao.hasError('required') && descricao.dirty" class="ui-message ui-messages-error">
          Informe uma descrição
        </div>
        <div *ngIf="descricao.hasError('minlength') && descricao.dirty" class="ui-message ui-messages-error">
          Mínimo de {{ descricao.errors.minlength.requiredLength }} caracteres. Você digitou apenas {{ descricao.errors.minlength.actualLength}}
          <app-message [control]="descricao" error="minlength" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
        </div>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative:false }"
          name="valor" [(ngModel)]="lancamento.valor" required>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" [autoWidth]="false" placeholder="Selecione" [filter]="true" name="categoria ngModel" [(ngModel)]="lancamento.categoria.codigo"
          required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" [autoWidth]="false" placeholder="Selecione" [filter]="true" name="pessoa" [(ngModel)]="lancamento.pessoa.codigo"
          required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"[(ngModel)]="lancamento.observacao" name="observacao"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
